<h1>Listing albums</h1>

<table>
  <tr>
    <th>Album title</th>
    <th>Album year</th>
    <th>Album noofcopiessold</th>
    <th>Artist</th>
    <th>Song</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%= album.album_title %></td>
    <td><%= album.album_year %></td>
    <td><%= album.album_noOfCopiesSold %></td>
    <td><%= album.artist_id %></td>
    <td><%= album.song_id %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Album', new_album_path %>
